.range-bar {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

/* .range-bar::-webkit-slider-thumb {
    background-color: #ff4500;
} */
