.cart-container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.main-container {
    /* background-color: white; */
    /* margin: 30px; */
    padding: 30px;
}
.main-header, .payment-header {
    border-bottom: 1px solid #999999;
}
.main-header h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 300;
}
.main-products {
    margin-top: 40px;
}

.main-products-removed {
    display: none;
}
.main-product-container {
    background-color: rgb(246, 246, 246);
}
.main-footer {
    font-weight: 400;
}



.secondary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-container {
    /* margin: 30px; */
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
}
.payment-header h4 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 300;
}

.discount-container {
    /* margin: 30px; */
    background-color: #E4E4E4;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

