.product-list-container {
    display: flex;
    /* flex-wrap: wrap; */

}

.product-grid {
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.sidebar {
    height: 100vh;
    width: 20%;
    /* background-color: var(--light-grey); */
    background-color: rgb(212, 212, 212);
}


/*
.product-list-container {
    display: flex;
    flex-wrap: wrap;
}

.product-grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 80%;
    gap: 20px;
}
*/