.product-list-container {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.first-grid {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.inner-search-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

/* .inner-product-grid {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} */


.inner-product-grid {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.inner-product-grid:first-child {
    grid-column: 1/-1;
}

.sidebar {
    height: 100vh;
    width: 20%;
    /* background-color: var(--light-grey); */
    background-color: rgb(212, 212, 212);
}

.search-div {
    background-color: var(--light-grey);
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    border: none;
    width: 99%;
    border-bottom: 1px solid rgb(149, 149, 149);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    /* margin-left: 6%; */
}

/* até um maximo de 768, div é none */
@media (max-width: 791px) { 
    .blank-div {
        display: none;
    }
}

.label-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    bottom: 3px;
}


/*
.product-list-container {
    display: flex;
    flex-wrap: wrap;
}

.product-grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 80%;
    gap: 20px;
}
*/