.product-list-container {
    display: flex;
    flex-direction: row;
}

.first-grid {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.inner-search-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.inner-product-grid {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.inner-product-grid:first-child {
    grid-column: 1/-1;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    /* background-color: var(--light-grey); */
    background-color: rgb(212, 212, 212);
}

@media (max-width: 650px) {
    .sidebar {
        width: 100vw;
    }
    .first-grid {
        width: 100%;
    }
    .product-list-container {
        display: flex;
        flex-direction: column;
    }
    .inner-product-grid {
        align-content: center;
    }
}

.search-div {
    background-color: var(--light-grey);
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    border: none;
    width: 99%;
    border-bottom: 1px solid rgb(149, 149, 149);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

/* até um maximo de 768, div é none */
@media (max-width: 791px) { 
    .blank-div {
        display: none;
    }
}

.label-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    bottom: 3px;
}
